.recent .text{
    padding: 30px;    
}

.recent .category span{
    display: inline-block;
    border-radius: 2px;
    font-weight: 600px;
    font-size: 13 px;
}

.recent .category i{
    font-size: 21px;
    color: rgb(236, 236, 153);
}

.recent .button{
    padding: 10px 20px;
    border-top: 1px solid rgb(239, 233, 233);
}

.recent .text i{
    color: rgb(153, 153, 129);
    padding: 5px 10px 0 0;
    font-size: 20px;
}

.recent img{
    width: 100%;
    height: 100%;
}