.hero{
    background-image: url('../../../../public/images/banner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    height: 90vh;
    width: 100%;
    background-size: cover;
}

.hero .container{
    padding-top: 10%;
}

form{
    background-color: #fff;
    margin-top: 30px;
    padding: 0 20px;
    border-radius: 5px;
}
form input{
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 3px;
}
form .box{
    padding: 15px;
    border-left: 1px solid rgb(113, 109, 109);
}

form .box:nth-child(1){
    border-left: none;
}


    
@media screen and (max-width:800px){
    .hero .container{
        padding-top: 30%;
    }
    form{
        display: flex;
        flex-wrap: wrap;
    }
    form .box{
        border-left: none;
    }
    form input{
        width: 100%;
    }
}